# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

/.vscode
PylonPlay/platformio.ini
.gitignore
PylonPlay/src/main.cpp
PylonPlay/.vscode/extensions.json
PylonPlay/sdkconfig.esp32-s3-devkitc-1
PylonPlay/CMakeLists.txt
PylonPlay/lib/README
PylonPlay/include/README
PylonPlay/test/README
